<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button >
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


  <ion-toolbar id="search-toolbar">
    <ion-searchbar placeholder="Search your product ..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Categories -->
  <app-home-slide-header title="Categories"></app-home-slide-header>
  <ion-slides [options]="slideOpt">
    <ion-slide *ngFor="let category of categories">
      <app-category-card [category]="category"></app-category-card>
    </ion-slide>
  </ion-slides>
</ion-content>
